@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    /* text-align: center; */
    /* background: #4c87d4; */
    padding: 20px;
    padding-left: 12%;
    border-bottom: #dbdbdb 1px solid;
}
header h1{
    margin:0;
}
.content{
    padding-top: 20px;
    width: 75%;
    min-width: 720px;
    margin: auto;
    display:flex;
}
.content >div{
    flex: 1;
}

.dbtype, .questionCategory{
    margin:10px 0 0 0;
}

.dbtype .list{
    display: flex;
}

.dbtype .category, .questionCategory .category{
    font-weight: bold;
}
.dbtype .db{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px black;
    color: white;
    background: #4c87d4;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #5d7d72;
    border-radius: 10px;
    display: inline-block;
}

.db:first-of-type{
    margin-left:0;
}

.question{
    border-radius: 20px;
    background: #a5c7e6;
    padding: 10px;
    display: inline-block;
    color: white;
    margin:10px;
}